# Ignore everything
*

# Expect:
!.gitignore

!00_Workspace-Setup/
!00_Workspace-Setup/**

!01_Learn-Linux/
!01_Learn-Linux/**

!02_Learn-Bash/
!02_Learn-Bash/**


!03_Learn-Git/
!03_Learn-Git/**

!04_Learn-Docker/
!04_Learn-Docker/**

!05_Learn-Nginx/
!05_Learn-Nginx/**

**/node_modules/
node_modules/
*.node


!06_Learn-YAML/
!06_Learn-YAML/**

!07_Learn-Kubernetes/
!07_Learn-Kubernetes/**

**/QA.md
QA.md

!README.md

