# Ignore everything
*

# Expect:
!.gitignore

!00_Workspace-Setup/
!00_Workspace-Setup/**

!01_Learn-Linux/
!01_Learn-Linux/**

!02_Learn-Bash/
!02_Learn-Bash/**


!03_Learn-Git/
!03_Learn-Git/**


!README.md
